* {
  box-sizing: border-box;
  border-radius: 5px;
}

body {
    background-image: url("./images/weather.jpg");
    color: #1E1742;
    padding: 40px;
    font-family: Arial;
    text-align: center;
   /* background-size: cover; */
  background-repeat: no-repeat;
 
  }

  .intro-block {
    font-family: 'Times New Roman', Times, serif; 
  width: 75%;
  /* max-width: 960px; */
  padding: 10px;
  background-color: rgba(157, 90, 90, 0.4);
  margin-top: 25%;
  /* margin-bottom: 50%; */
  text-align: center;
  align-content: center;
  margin-left: 14%;
  /* height: 200px; */
  }

  h1 {
    width: auto;
    align-content: center;
   
  }

  