.container-fluid {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    height: 100%;
    padding: 20px;
    align-content: center;
    background-color: rgba(157, 90, 90, 0.4);
}

.container {
    margin-top: 5%; 
    width: 100%;
    height: 100%;
    padding: 20px;
    align-content: center;
    background-color: rgba(157, 90, 90, 0.4);
}

